{
  "extends": [
    "eslint: recommended",
    "plugin: node/recommended",
    "prettier",
    "eslint-config-prettier"
  ],
  "plugins": ["node"],
  "rules": {
    "node/no-unsupported-features/es-syntax": [
      "error",
      { "ignores": ["modules"] }
    ]
  }
}
